@font-face {
    font-family: "Comic Sans";
    src: url("../static/comic.ttf");
}

* {
    font-family: 'Comic Sans';
}

body {
    background-color: darkslategrey;
    color: rgb(237, 209, 209);
    ;
}

a:link {
    color: lightcoral
}

a:visited {
    color: rgb(251, 115, 66)
}

h1 {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

div#footer {
    text-align: center;
}

table {
    border-collapse: collapse;
    padding: 5px;
}

table#spell-list {
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: hidden;
    border-radius: 1px;
    padding: 5px;
}

table#spell-list>thead>tr#spell-header {
    background-color: rgb(67, 103, 103);
}

table#spell-list>tbody>tr:nth-child(odd) {
    background-color: rgb(74, 119, 119);
}

table#spell-list>tbody>tr:nth-child(even) {
    background-color: rgb(67, 103, 103);
}

td.text-center {
    text-align: center
}
