<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My dumb little site</title>

    <link rel="preload" href="../static/favicon.ico" as="image" crossorigin>
    <link rel="icon" href="../static/favicon.ico" sizes="64x64 32x32 24x24 16x16">

    <link rel="preload" href="../static/base.css" as="style">
    <link rel="stylesheet" href="../static/base.css">

    <link rel=preload as=font type='font/ttf' href='../static/comic.ttf' crossorigin>

    <meta name="description" content="Don't look here I am gay">
    <meta name="author" content="Ava Yert <ava@yert.pink>">

    <meta name="theme-color" content="#FF6B81">
    <meta name="color-scheme" content="only light">

    <meta name="referrer" content="strict-origin">
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2025 by <a href="https://abstractumbra.dev">Umbra/Link</a>
        {% endblock %}
    </div>
</body>
</html>
