{% extends "base.html.jinja2" %}
{% block head %}
{{ super() }}
<script src="../static/spells.js" type="text/javascript"></script>
{% endblock %}
{% block title %}BLU Spells{% endblock %}
{% block content %}
<h1>Spells I need</h1>
<h2 style="text-align: center;" id="spell-counter">Spell total: {{ 124 - spells|length }}/124</h2>
<br>
{% if variable is defined and variable|length %}
<table id="spell-list">
    <thead>
        <tr id="spell-header">
            <th>Spell Number</th>
            <th>Spell Name</th>
            <th>Dungeon</th>
            <th>Trial</th>
            <th>Totem</th>
            <th>Enemy</th>
            <th>Copy PF text</th>
        </tr>
    </thead>
    <tbody>
        {% for number, spell in spells.items() %}
        <tr>
            <td class="text-center"><a href="https://ffxivcollect.com/spells{{ number }}">{{ number }}</a></td>
            <td>{{ spell.name }}</td>
            {% if spell.dungeon is defined %}
            <td>{{ spell.dungeon }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if spell.trial is defined %}
            <td>{{ spell.trial }}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% if spell.totem is defined %}
            <td style="text-align: center;"><input type="checkbox" name="{{spell.name}}" disabled checked></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ spell.enemy }}</td>
            <td style="text-align: center;"><button onclick="copyToClipboard({{ number }})" class="spell-cb-button" id="spell-{{ number }}">📋</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2 style="text-align: center;">No more spells needed!!!</h2>
{% endif %}
<br>
{% endblock %}
